:root {
  --fuenteprincipal: "Barlow Semi Condensed", sans-serif;

  --colorprimario: #af20ff;
  --colorprimarioocuro: #7c03c0;
  --colorsecundario: #fffb00;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--colorprimario);
  line-height: 2;
  font-size: 2rem;
}
body.footer-fijo {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body.footer-fijo main {
  flex: 1;
}
h1 {
  font-family: var(--fuenteprincipal);
  font-weight: 700;
  color: var(--colorsecundario);
  text-align: center;
  font-size: 4.5rem;
}
p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.header {
  display: grid;
  justify-content: center;
  padding: 2rem 0;
}
.barra {
  background-color: var(--colorprimarioocuro);
  padding: 1rem 0;
}
.barra .navegacion {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-column-gap: 1rem;
  justify-content: center;
}
.barra .navegacion a {
  font-family: var(--fuenteprincipal);
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  color: #ffff;
  text-decoration: none;
}
.barra .navegacion a:hover {
  color: var(--colorsecundario);
}

/** Lista de Productos **/
.contenedor {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
}
.lista-productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
@media (min-width: 768px) {
  .lista-productos {
    grid-template-columns: repeat(3, 1fr);
  }
}

.producto {
  background-color: var(--colorprimarioocuro);
  padding: 1rem;
}

.contenido-producto p {
  font-family: var(--fuenteprincipal);
  color: white;
  text-align: center;
  margin: 1rem 0;
  line-height: 1.2;
}
.contenido-producto .titulo {
  text-transform: uppercase;
  font-size: 4rem;
}
.contenido-producto .precio {
  font-size: 2.8rem;
  color: var(--colorsecundario);
}

.grafico {
  min-height: 300px;
  grid-column: 1 / 3;
}
.grafico-1 {
  background-image: url(../img/grafico1.jpg);
  grid-row: 2 / 3;
  background-size: cover;
  background-position: center center;
}
.grafico-2 {
  background-image: url(../img/grafico2.jpg);
  grid-row: 8 / 9;
}
@media (min-width: 768px) {
  .grafico-2 {
    grid-row: 5 / 6;
    grid-column: 2 / 4;
  }
}

.sobre-nosotros {
  color: white;
  text-justify: right;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.sobre-nosotros img {
  background-image: url(../img/nosotros.jpg);
}

@media (min-width: 768px) {
  .contenedor-informacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
/** Footer **/

.footer {
  background-color: var(--colorprimarioocuro);
  padding: 1rem 0;
  margin-top: 2rem;
}
.copyright {
  font-family: var(--fuenteprincipal);
  color: white;
  font-size: 2.2rem;
  text-align: center;
}

/** Producto **/
.formulario-pedido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 6rem);
  grid-gap: 1rem;
}
.campo {
  background-color: transparent;
  border: 4px solid white;
  font-family: var(--fuenteprincipal);
  font-size: 3rem;
  padding: 1rem;
  width: 100%;
  color: white;
}
.talla {
  grid-column: 1 / 3;
  text-transform: uppercase;
}
option {
  background-color: transparent;
  color: black;
}
.boton {
  background-color: var(--colorsecundario);
  font-family: 2rem;
  font-family: var(--fuenteprincipal);
  border: none;
  transition: background-color .3s ease;
  text-transform: uppercase;
}
.boton {
  grid-column: 1 / 4;
  
}
.boton:hover {
  cursor: pointer;
  background-color: rgb(233, 187, 2) ;
}


